.grid-container {
    background-color: white;
    display: flex;
    grid-template-columns: repeat(50, 1fr);
    grid-auto-rows: min-content;
    grid-column-gap: 0px;
    justify-content: center;
    align-content: center;
    max-width: auto;
    max-height: auto;
}

.cell {
    height: 10px;
    justify-self: stretch;
    width: 10px;
}

.alive {
    background-color: black;
}

.dead {
    background-color: white;
}